// Specific CSS for your home-page


.container {
  width: 1000px;
  margin: 0 auto;
}

h1 {
  color: white;
  font-family: $driftwood;
}

h2 {
  color: black;
  font-family: $driftwood;
  display: flex;
  justify-content: center;
}

p {
  color: black;
  justify-content: center;
}
