<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1611990811697-204c28796f52?q=80&w=1742&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)">
  My Bookings:
</div>

<br>
<%= link_to "Home", treehouses_path %>

<div class="container">
  <% @bookings.each do |booking| %>
  <div class="card">
  <p> <%= booking.treehouse.name.capitalize %></p>
  <p>From: <%= booking.start_date%> Until: <%= booking.end_date%></p>
  <p> </p>
  </div>
  <% end %>
</div>
