.navbar-lewagon {
  justify-content: space-between;
  background: #32693e;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

body {
  position: relative;
  min-height: 100%;
  min-height: 100vh;
}

footer {

  width:100%;
  height: 90px;
  margin-top: 50px;
  text-align: center;
  padding: 5px;
  background-color: #32693e;
  color: #ffffff;

}
