.navbar-lewagon {
  justify-content: space-between;
  background: #32693e;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}

footer {
  margin-top: 40px;
  text-align: center;
  padding: 5px;
  background-color: #32693e;
  color: #ffffff;


  width: 100%;
}
