.review-container {
  display: flex;
  padding: 20px;
  margin-top: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.review-card {
 background-color: white;
 display: flex;
 flex-direction: column;
 height: 200px;
 width: 45%;
 border-radius: 10px;
 margin: 5px;
 text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
 border-radius: 5px;
 box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.review-text {
 height: 100%;
 padding: 5px;
}

.review-text h3 {
  font: 1.4rem "Fira Sans", sans-serif;
  margin-top: 10px;
  font-weight: bold;
}

.review-text p {
  font: 0.8rem "Fira Sans", sans-serif;
  opacity: 0.7;
 }

.review-number {
  height: 20%;
  width: 100%;
  top: 0px;
  right: 0px;
  text-align: center;
}

.review-number p {
  font: 0.9rem "Sedan SC", sans-serif;
  font-weight: bold;
  font-style: italic;
  opacity: 0.7;
}

.review-number h3 {
  font: 1.6rem "Sedan SC", sans-serif;
  font-weight: bold;
  font-style: italic;
}
