.show-treehouse {
  display: flex;
  border: dotted;
  border-radius: 10px;
  object-fit: cover;
  padding: 5px;
}

.show-treehouse #left {
  height: 500px;
  width: 400px;
  border-radius: 10px;
}

.show-treehouse #topright {
  height: 200px;
  width: 60%;
  padding: 5px;
  border-radius: 10px;
}

.show-treehouse #bottomright {
  height: 200px;
  width: 60%;
  padding: 5px;
  border-radius: 10px;
}



.price-show {
  border: dotted;
  font-size: larger;
  text-align: center;
  justify-content: center;
}


.show-container {
  width: 800px;
  margin: 0 auto;
}


.info-and-booking {
  border: dotted;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 10px;
  margin-bottom: 30px;
}

.info-and-booking p{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
}

.info {
  border: dotted;
}


.form-booking {

 border: dotted;
 width: 300px;
 padding: 15px;
}


html {
  scroll-behavior: smooth;
}


.info-reviews {
  border: dotted;
  font-size: 40px;
}

.info-reviews a {
  color: black;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
}
