.treehouse-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
}

.treehouse-card {
  border-radius: 20px;
  margin: 30px;
  width: 500px;
  height: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  overflow: hidden;
}

.treehouse-card:hover {
  transform: scale(1.1);
}


.treehouse-card img{
  object-fit: cover;
  width: 100%;
  height: 200px;
}


.treehouse-card .info {

  display: flex;

  position: relative;
}


.treehouse-card .price {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}


.treehouse-card a {
  top: 5px;
  display: flex;

}

.top-buttons{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.button-33 {
  background-color: #c2fbd7;
  text-decoration: none;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(22, 107, 22);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
